/* 去除所有边距 */
*{margin:0;padding:0;
box-sizing: border-box;}
/* body */
body{
    background-color: #000000;
}
/* 顶部div */
.tea-header{
    height: 79px;
    background-color: #89674c;
    margin: 0 auto;
    box-sizing: border-box;
}
/* 导航栏in小罐茶 */
/* a标签hover */
.row a:hover{
    border-bottom:2px solid #ffffff;
}
/* 导航栏精灵图 */
.demos div{
    display: inline-block;
    background-image:url(../datas/tea/www/image/icon.png);
    background-repeat: no-repeat; 
    height: 30px;
}
.demo1{
    width: 30px;
    height: 30px;
    background-position: 0 0 !important;
}
.demo2{
    width: 30px;
    height: 30px;
    background-position: -46px 0 !important;
}
.demo3{
    width:30px;
    height: 30px;
    background-position: -90px 0 !important;
}

/* logo大小位置 */
.tea-img{
    width: 92px;
    height: 42px;
    margin-left:100px;
    margin-top:20px;
    float: left;
}
/* 头部导航栏字体设置 */
.tea-header .nav{
    float: left;
    margin-left: 100px;

}
.tea-header .nav .nav-item{
    display: block;
    margin:0 15px;
    width: 80px;

    float: left;
    padding-top: 30px;
    
    
}
.breadcrumb li a{
    text-decoration:none; 
    color:#e1d1b9;
    font-size: 14px;
}
/* 轮播图的高 */
.take{
    height:730px;
    background:#e1d1b9;
}
.take div{
    height: 730px;
}
/* 中间div */
.section{
    height: 465px;
}
.form-inline .col-lg-4 .img_a{
    position: relative;
}
.img_a{
 position: absolute;
}
.card{
    bottom:14rem;
    left: 6rem;
}
.card p{
    color:#CCAC82;
}
.form-inline a{
    text-decoration:none;
}
.card:hover{
    color:#916F53;
}
.hr{
    color: #ffffff;
}
/* footer面包屑 */
.jd,.tm{
    font-size:23px;
    
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}
.breadcrumb-item{
   color:#916F53
}
.breadcrumb{
    justify-content: space-around;
    background:rgba(0, 0, 0,0)
}
.progress-bar{
    background-color:rgba(0, 0, 0,0);
}
  /* background-color: #007bff; */
  .ft_text_1{
      font-size: 12px;
      color: #89674c
  }
  .ft_text_2{
    font-size:30px;
    color:#89674c
  }
  .ft_brand{
      color:#89674c;
  }
  /* 导航demo */
  .wrap{width: 800px;margin: 0 auto;
    background: rgba(0, 0, 0,0)!important;
}    /* 对导航的内容设置一个主体为800px的宽并使其居中 */
  .clear{clear: both;}  /* 清除浮动 */
  a{text-decoration-line: none;}   /* 去掉默认a标签的下划线 */
  ul,li{list-style: none;}
  nav .level>li{float: left;width: 16.66%;text-align: center;background: bisque;padding: 10px 0;font-size: 16px;transition: .4s;}
  nav .level>li a{color: black;}
  nav .level>li:hover{background: red;}   /* 设置鼠标滑过后的样式 */

  nav .two{display: none;margin-top: 10px;}  /* 先使二级菜单的内容隐藏 */
  nav .level>li:hover .two{display: block;}   /* 鼠标滑过一级菜单后的显示二级菜单 */
  nav .two li{padding: 5px 0;transition: .4s;cursor: pointer;}
  nav .two li:hover{background: pink;}
